# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
lerna-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
*.local

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# generated folders
app-example
/ios
/android